---
- name: Include check tasks
  ansible.builtin.include_tasks:
    file: checks.yaml

- name: Add NPrinting service account to Log on as a service
  ansible.windows.win_user_right:
    name: SeServiceLogonRight
    users:
      - "{{ service_username }}"
    action: add

- name: Install Qlik NPrinting Server
  ansible.windows.win_package:
    creates_service: QlikNPrintingRepoService
    path: "{{ server_setup_path }}"
    arguments:
      - /install
      - /quiet
      - accept-eula={{ accept_eula | int }}
      - service-username=.\{{ service_username }}
      - service-password={{ service_password }}
      - database-password={{ database_password }}
      - admin-email={{ admin_email }}
      - admin-username={{ admin_username }}
      - admin-password={{ admin_password }}

- name: Install Qlik NPrinting Engine
  ansible.windows.win_package:
    creates_service: QlikNPrintingEngine
    path: "{{ engine_setup_path }}"
    arguments:
      - /install
      - /quiet
      - accept-eula={{ accept_eula | int }}
      - service-username=.\{{ service_username }}
      - service-password={{ service_password }}
      - engine-certs-password={{ engine_certs_password }}
      - server-hostname={{ server_hostname }}

- name: Stop Qlik NPrinting services
  ansible.windows.win_service:
    name: "{{ item }}"
    state: stopped
  loop:
    - QlikNPrintingEngine
    - QlikNPrintingScheduler
    - QlikNPrintingWebEngine
    - QlikNPrintingLicenseService
    - QlikNPrintingAuditService
    - QlikNPrintingMessagingService
    - QlikNPrintingRepoService
  when:
    - installed_server != '0.0.0' or installed_engine != '0.0.0'
    - server_version is version(installed_server, 'gt')
      or engine_version is version(installed_engine, 'gt')

- name: Upgrade Qlik NPrinting Server
  ansible.windows.win_package:
    path: "{{ server_setup_path }}"
    arguments:
      - /install
      - /quiet
      - accept-eula={{ accept_eula | int }}
      - service-username=.\{{ service_username }}
      - service-password={{ service_password }}
  when:
    - installed_server != '0.0.0'
    - server_version is version(installed_server, 'gt')

- name: Upgrade Qlik NPrinting Engine
  ansible.windows.win_package:
    path: "{{ engine_setup_path }}"
    arguments:
      - /install
      - /quiet
      - accept-eula={{ accept_eula | int }}
      - service-username=.\{{ service_username }}
      - service-password={{ service_password }}
  when:
    - installed_engine != '0.0.0'
    - engine_version is version(installed_engine, 'gt')
