---
- name: Include check tasks
  ansible.builtin.include_tasks:
    file: checks.yaml

- name: Stop Qlik NPrinting services
  ansible.windows.win_service:
    name: "{{ item }}"
    state: stopped
  loop:
    - QlikNPrintingEngine
    - QlikNPrintingScheduler
    - QlikNPrintingWebEngine
    - QlikNPrintingLicenseService
    - QlikNPrintingAuditService
    - QlikNPrintingMessagingService
    - QlikNPrintingRepoService
  when:
    - installed_server != '0.0.0' or installed_engine != '0.0.0'
    - server_version is version(installed_server, 'gt')
      or engine_version is version(installed_engine, 'gt')

- name: Upgrade Qlik NPrinting Server
  ansible.windows.win_package:
    path: "{{ server_setup_path }}"
    arguments:
      - /install
      - /quiet
      - accept-eula={{ accept_eula | int }}
      - service-username=.\{{ service_username }}
      - service-password={{ service_password }}
  when:
    - installed_server != '0.0.0'
    - server_version is version(installed_server, 'gt')

- name: Upgrade Qlik NPrinting Engine
  ansible.windows.win_package:
    path: "{{ engine_setup_path }}"
    arguments:
      - /install
      - /quiet
      - accept-eula={{ accept_eula | int }}
      - service-username=.\{{ service_username }}
      - service-password={{ service_password }}
  when:
    - installed_engine != '0.0.0'
    - engine_version is version(installed_engine, 'gt')
